<?xml version="1.0"?>
<?xml-stylesheet type="text/xsl" href="configuration.xsl"?>

<!-- Put site-specific property overrides in this file. -->

<configuration>
<!--
<property>
    <name>fs.defaultFS</name>
    <value>hdfs://hmaster.example.com:9000/</value>
  </property>
-->
  <!--  default hadoop 1.x glusterfs with no additional integrity checking on files -->
  <property>
    <name>fs.glusterfs.impl</name>
    <value>org.apache.hadoop.fs.glusterfs.GlusterFileSystem</value>
  </property>

  <!--  this is an optional hadoop 1.x glusterfs which does extra integrity checks on files. -->
  <!--
  <property>
    <name>fs.glusterfs.impl</name>
    <value>org.apache.hadoop.fs.glusterfs.GlusterFileSystemCRC</value>
  </property>
  -->

  <property>
    <name>fs.default.name</name>
    <value>glusterfs:///</value>
  </property>


  <!--  this is the default glusterfs hook with no additional integrity checking on files -->
  <property>
    <name>fs.AbstractFileSystem.glusterfs.impl</name>
    <value>org.apache.hadoop.fs.local.GlusterFs</value>
  </property>

  <!--  this is an optional glusterfs which does extra integrity checks on files. -->
  <!--
  <property>
    <name>fs.AbstractFileSystem.glusterfs.impl</name>
    <value>org.apache.hadoop.fs.local.GlusterFsCRC</value>
  </property>
  -->

  <property>
    <name>fs.glusterfs.server</name>
    <value>hslave1.example.com</value>
  </property>

        <property>
                <name>fs.glusterfs.volumes</name>
                <value>gv0</value>
        </property>

        <property>
                <name>fs.glusterfs.volume.fuse.gv0</name>
                <value>/mnt/gv0</value>
        </property>

</configuration>
